{{#if isVisible}}
  {{#if isLabel}}
    <li class="nav-heading {{cssClasses}}">
      {{title}}
    </li>
  {{else}}
    {{#if isGlobals}}
      <li class="nav-heading nav-home-link {{#if isInPath}}current{{/if}} {{cssClasses}}">
        {{title}}
      </li>
    {{else}}
      <li class="nav-heading {{#if isInPath}}current{{/if}} {{cssClasses}}">
        <span class="nav-item-type type-module">M</span>
        <span class="nav-item-name">
          <a href="{{relativeURL url}}">{{title}}</a>
        </span>
      </li>
      {{#if children}}
        {{#each children}}
          {{> navigation}}
        {{/each}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
